body{
    margin: 0;
    padding: 0;
    /* font-family: 'Italianno', cursive;    */
    font-family: 'Poppins', sans-serif;
 
}


    /* ................re-useble code here............ */
h1{
  font-size: 50px;
    
 }

 p{
    font-size: 15px;
    color: rgb(100, 97, 97);
    margin-bottom: 40px;
}

span{
    color: orange;
}

.container{
    display: flex;
    padding: 20px 40px;
    margin-bottom: 100px;
}

.sub-container{
    width: 50%;
}

.sub-container img{
    width: 80%;
}

.btn{
    text-decoration: none;
    background:tomato;
    padding: 8px 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}




/*............................ header section style start here .........................*/

.color{ 
    border-left: 5px solid ;
    border-image: linear-gradient(tomato , orange);
    border-image-slice: 1;  
     
}

.right{
    float: right;
}

/*............................ header section style ends here .........................*/





/*............................ My mission section start here .........................*/

.row{
    text-align: center;
}
.column{
    float: left;
    height: 300px;
    width: 25%;
    padding: 20px;
    text-align: start;
    margin-left: 40px;
    border-radius: 10px;

}

.col_dis{
    background: rgb(217, 224, 235);
}
.col_col{
    background: #ecdebe;
}
.col_gro{
    background: #f3d79a;
}




/*............................ My mission section ends here .........................*/


/*............................ develop Limits style start here .........................*/

.round{
    border-radius: 20px;
    height: 380px;
    
}

.side-round{
    background-image: url(./image);
    background-repeat: no-repeat;
    background-position: left;
   
}

/*............................ develop Limits style ends here .........................*/